# LangGraph Configuration
NEXT_PUBLIC_API_URL=http://localhost:2024
NEXT_PUBLIC_ASSISTANT_ID=agent
# Do NOT prefix this with "NEXT_PUBLIC_" as we do not want this exposed in the client.
LANGSMITH_API_KEY=

# Production LangGraph Configuration (quickstart) - Uncomment to use
# NEXT_PUBLIC_ASSISTANT_ID="agent"
# This should be the deployment URL of your LangGraph server
# LANGGRAPH_API_URL="https://my-agent.default.us.langgraph.app"
# This should be the URL of your website + "/api". This is how you connect to the API proxy
# NEXT_PUBLIC_API_URL="https://my-website.com/api"
# LANGSMITH_API_KEY="lsv2_..."


# UAT DETAILS
# MONEY_ONE_BASE_URL=https://finsharpe-uat.moneyone.in
# MONEY_ONE_CLIENT_ID=44b9d240568010cf61436a935941011e86f5fd35
# MONEY_ONE_CLIENT_SECRET=549492be83721c76164e575720f17c908bd520e9
# MONEY_ONE_ORG_ID=finsharpe-fiu-uat
# MONEY_ONE_APP_IDENTIFIER=com.finsharpe.in
# MONEY_ONE_PRODUCT_ID=WM101
# Forms
# MONEY_ONE_EQUITIES_CONSENT_FORM=EQSUMMARY
# MONEY_ONE_MUTUAL_FUNDS_CONSENT_FORM=WM101
# MONEY_ONE_ETF_CONSENT_FORM=
# MONEY_ONE_BANK_ACCOUNTS_CONSENT_FORM=DEPOSITDETAILS
# MONEY_ONE_SIP_CONSENT_FORM=
# Consent type fip Ids
# MONEY_ONE_EQUITIES_FIPS="CDSLFIP,fip@nsdl"
# MONEY_ONE_MUTUAL_FUNDS_FIPS=finsharebank
# MONEY_ONE_ETF_FIPS=
# MONEY_ONE_BANK_ACCOUNTS_FIPS=
# MONEY_ONE_SIP_FIPS=